<% layout("/layouts/boilerplate") %>

<style>
     @media(max-width:480px){
        form{
            width: 70vw;
        }
    }
    @media(min-width:768px){
        form{
            width: 40vw;
        }
        input{
            width: 70vw;
        }        
    }
    
</style>

<body>
        <div class="row">
            <h1 class="text-center mb-5 mt-5">SignUp on Wanderlust</h1>
            <div>
                <form action="/signup" method="post" class="needs-validation" style="margin: auto;" novalidate>
                    <div class="mb-3">
                        <label for="username" class="form-label"><b>Username</b></label>
                        <input name="username" id="username" type="text" class="form-control" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label"><b>Email</b</label>
                        <input name="email" id="email" type="email" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="pswd" class="form-label"><b>Password</b></label>
                        <input name="password" id="pswd" type="password" class="form-control" required>
                    </div>
                    <button class="btn  btn-success mt-4 mb-4">SignUp</button>
                </form>
            </div>
        </div>
</body>